<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Video Chat Admin Panel</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/toastr.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/sweetalert.css">

<!-- online css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- js -->

<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="js/jquery.form.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/toastr.min.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>
<script type="text/javascript" src="js/bootstrap-colorpicker.min.js"></script>

<style>


    a{
        color: #080808;
    }

    .main-menu {
        text-transform: uppercase;
        height: 150px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5%;
        /*margin: 0 auto;*/
    }
    .main-header {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .divNavbarInfo {
        cursor: default;
    }
    .divNavbarInfo:hover {
        text-decoration: none;
        background-color: transparent!important;
        color: black;
    }
    .divNavbarInfo:focus {
        text-decoration: none;
        background-color: transparent!important;
        color: black;
    }
    .icon-bar {
        background-color: rgba(0, 0, 0, .8);
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 1%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #eeeeee;
    }

</style>
