<!doctype html>
<html>
<head>
    <% include ./header %>
    <style>
        .panel{
            background: #eeeeee;
            margin-top: 30px;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
</head>
<body class="bs-docs-home">
    <% include ./navbar %>
    <div>
        <div class="container-fluid text-center" style="margin-top: 3%">
            <h1><%= lang.settings%></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <a class="btn btn-danger" href="/dashboard">Go To Dashboard</a>
                </div>
            </div>
            <div class="row panel">
                <div class="col-sm-10 col-sm-offset-3" style="display: inline">
                    <div class="col-sm-4">
                        <h3>Client Server Status</h3>
                    </div>
                    <div class="" style="margin-top: 2%">
                        <label class="switch">
                            <input type="checkbox" id="checkServerStatus" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>